/*
*
* @author Dowglas Barros
* @version 0.1
*/

/* ===================== Layout ===================== */

html, body, .cover {
    height: 100%;
}

body {
    background: url('images/ruido.png'),
                linear-gradient(50deg, #ff4169, #7c26f8);
    background-attachment: fixed;
    font-weight: bold;
}

/* -- Barra de navegação -- */
.img-logo {
    height: 51px;
    width: 166px;
    display: block;
    background: url('images/logo.png') no-repeat;
    background-size: contain;
    color: transparent;
}

nav.navbar-transparent {
    padding: 15px 0px;
    background: rgba(0, 0, 0, 0.6);
    border: none;
}

.navbar-brand {
    padding: 0px 0px;
}

.divisor {
    width: 1px;
    height: 16px;
    background: white;
    margin: 16px 10px;
}

.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.navbar-inverse .navbar-nav>li>a:hover {
    color: #9bf0e1;
}

/* -- Imagem de capa -- */

.cover {
    display: table;
    width: 100%;
}

.start-screen {
    display: table-cell;
    vertical-align: middle;
}

.div-game {
    display: table-cell;
    vertical-align: middle;
}

.td-header {
    text-align: center;
}

.td-align {
    text-align: center;
}

.display {
    display: inline-block;
}

.td-table-one {
    border-bottom: solid 3px white;
    border-right: solid 3px white;
}

.td-table-two {
    border-bottom: solid 3px white;
}

.td-table-three {
    border-right: solid 3px white;
}

.div-size {
    width:100px;
    height:100px;
}

/* ===================== Tipografia ===================== */